.newCard {
  width: 312px;
  padding: 27px 21px;
  border-radius: 10px;
  border: 1px solid #E1DCD0;
  background-color: #F8F6F1;
  box-sizing: border-box;

  @media (max-width: 1200px) {
    width: 280px;
    min-width: 280px;
  }

  &__title {
    margin-top: 22px;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: #282828;
  }
}